/* Navigation Bar */
*{
    overflow-x: hidden;
    /* background: black; */
    font-family: 'Roboto Condensed', sans-serif;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    background: linear-gradient(#FEE500, #feb600a4);
}   

#logoimg{
    border: 2px solid black;
    border-radius: 10px;
    background: black;
    margin: 5px;
    color: white;
}

/* Main Screen */
.display{
    /* border: 2px solid black; */
    height: 800px;
    width: 100%;
    margin: 10px;
}


#blank3{
    height: 100px;
}


#head{grid-area: head;}
#blank2{grid-area: b1;}
#login{grid-area: login;}
#signup{grid-area: signup;}
#blank3{grid-area: b2;}
#para{grid-area: para;}

#btns{
    display: grid;
    grid-template-areas:
    'head head head head'
    'para para para para'
    'login login signup signup'
    'b2 b2 b2 b2';
    justify-content: center;
    align-items: center;
}


#head{
    text-align: center;
    font-size: 13vh;
}
#para{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.userbtn{
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    border-radius: 50px; 
    background: black;
}
.userbtn a{
    text-decoration: none;
    color: white;
}
.userbtn:hover{
    background: rgb(68, 68, 68);
}

#btns{grid-area: btns;}
#image1{grid-area: img1; transform: rotate(10deg);}
#image2{grid-area: img2; transform: rotate(-10deg) ;}
#image3{grid-area: img3; transform: rotate(-8deg) translate(0, 20px);}
#image4{grid-area: img4; transform: rotate(6deg) translate(10px, 20px);}
#image5{grid-area: img5; transform: rotate(10deg) translate(0, 20px);}
#image6{grid-area: img6; transform: rotate(-6deg) translate(0, 20px);}

#display{
    background: #a3a3a3;
    display: grid;
    grid-template-areas: 
    'img3 img4 img6 img5'
    'img2 btns btns img1';
    column-gap: 10px;
    margin: 10px;
    overflow: hidden;
}

.images img{
    height: 400px;
    width: 300px;
    margin: 5px;
    /* box-shadow: 0 0 5px 5px rgb(255, 245, 112); */
}
.images1 img{
    height: 200px;
    width: 350px;
    margin: 5px;
}


/* About Us */
.au{
    background: linear-gradient(to left bottom, yellow, rgb(240, 240, 92));
}
#aboutus{
    text-align: center;
    font-size: 12vh;
}
.abtuscontent{
    text-align: center;
    font-size: 5vh;
}
#p1{
    font-size: 6vh;
    font-weight: bold;
}

/* Counts */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vh;
    border: 2px solid black;
    background: #5a5a5a;
}
.card{
    height: 50vh;
    margin: 3vh;
    border: 2px solid black;
    text-align: center;
    font-size: 4vh;
}
#card1, #card3{
    background: rgb(252, 252, 41);
}
#card2, #card4{
    background: rgb(36, 36, 36);
    color: yellow;
}



/* Section */
.section{
    background: rgb(255, 255, 106);
    height: 300px;
    text-align: center;
    font-size: 50px;
}



/* Footer */
.footer{
    background: linear-gradient(orange, yellow);
    text-align: center;
}



