<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>

    <link rel="stylesheet" href="{{url_for('static',filename = 'exercise.css')}}">
</head>
<body>
    <div class="loader"></div>

    <!-- Navigation Bar -->
    <div class="nav">
        <div class="navitem" id="logo">
            <a href="{{url_for('mainpage')}}"><img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" width="250px" id="logoimg"></a>  
        </div>

        <div class="navitem" id="home">
        </div>
        <div class="navitem" id="featurenav">
            <h1>Exercise</h1>
        </div>
        <div class="navitem" id="ourteamnav">
        </div>

        <div class="navitem" id="profile">
            <h1>User</h1>

            <!-- Profile Hover -->
            <ul>
                <li><a href="#">Profile</a></li>
                <hr>
                <li><a href="#">More Details</a></li>
                <hr>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>

    </div>

    <div class="display" style="background-image: url(Images/exercise\ page.png); background-size: cover;">
        <div class="quote">
            <div class="quotehead">
                <h3><span>“</span>{{quote}}"</h3>
                <h4>-{{writer}}</h4>
            </div>
        </div>
    
        <h1>About</h1>
        <p>Exercise refers to any physical activity that is done to improve health, fitness, or well-being. It can range from low-intensity activities like walking or stretching, to high-intensity workouts like weightlifting or running.
        <br>
        Exercise has numerous health benefits, including improving cardiovascular health, strengthening muscles and bones, reducing the risk of chronic diseases like diabetes and obesity, and improving mental health and mood.
        <br> 
        The recommended amount of exercise varies depending on age, health status, and fitness goals, but in general, adults should aim for at least 150 minutes of moderate-intensity exercise or 75 minutes of vigorous-intensity exercise per week, spread out over at least three days.
        <br>
        It is important to consult with a healthcare provider before starting a new exercise program, especially if you have any medical conditions or injuries.</p>
    </div>

    <hr>
    <h1>Exercise</h1>
    <h2>Based On</h2>

    <div class="btn">

        <a href="{{url_for('typesofexercise')}}">
        <div class="option" id="op1">
            Exercise Type
        </div></a>

        <a href="{{url_for('bodyparts')}}">
        <div class="option" id="op2">
            Body Part
        </div></a>

        <a href="{{url_for('yoga')}}">
        <div class="option" id="op3">
            Yoga
        </div></a>
    </div>


    <hr>


    <!-- Bee Fit Section -->
    <div class="section">
        BEE FIT
    </div>
    
    <hr>

    <!-- Footer -->
    <div class="footer" id="footer">
        <h3><i> &copy </i>copyrights with our Team</h3>
    </div>

</body>

<script>
    function isnumberinput(evt){
        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))){
            evt.preventDefault();
        }
    }


    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");

    loader.classList.add("loader--hidden");

    loader.addEventListener("transitionend", () => {
        document.body.removeChild(loader);
    });
    });

</script>

</html>