<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise based on Body</title>

    <link rel="stylesheet" href="{{url_for('static',filename = 'exercise2.css')}}">
</head>
<body>
    <div class="loader"></div>

    <!-- Navigation Bar -->
    <div class="nav">
        <div class="navitem" id="logo">
            <a href="{{url_for('mainpage')}}"><img src="{{url_for('static',filename = 'images/Logo.png')}}" alt="Logo" width="250px" id="logoimg"></a>  
        </div>

        <div class="navitem" id="home">
        </div>
        <div class="navitem" id="featurenav">
            <h1>Exercise</h1>
        </div>
        <div class="navitem" id="ourteamnav">
        </div>

        <div class="navitem" id="profile">
            <h1>User</h1>

            <!-- Profile Hover -->
            <ul>
                <li><a href="#">Profile</a></li>
                <hr>
                <li><a href="#">More Details</a></li>
                <hr>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>
    </div>

    <h1 id="head">Exercise Based On Different Body Parts</h1>
    <hr>

    <div class="btn">
        <div class="button1" id="btn1"><a href="#g1">Chest</a></div>
        <div class="button2" id="btn2"><a href="#g2">Back</a></div>
        <div class="button1" id="btn3"><a href="#g3">Shoulders</a></div>
        <div class="button1" id="btn4"><a href="#g4">Arms</a></div>
        <div class="button2" id="btn5"><a href="#g5">Legs</a></div>
        <div class="button1" id="btn6"><a href="#g5">Abs</a></div>
    </div>

    <hr>

    <div class="g1" id="g1">
        <div class="heading">
            Chest
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/nTYYwd8TF4A" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/MxnzcssW-tk" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/RoNer07liQs" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/EaZbKtFrtnI" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g2" id ="g2">
        <div class="heading">
            Back
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/HRy3m2ck2kg"  frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/eLfIsFl1Cac" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/ECxsw3Dhr84" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/VZ3QUj9yluI" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g1" id="g3">
        <div class="heading">
            Shoulders
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/zGZVv5zqCFE" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/_gb7gs73p90" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/2Vprklw8cu8" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/MzeiSTQtuyw" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g2" id="g4">
        <div class="heading">
            Arms
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/j64BBgBGNIU" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/or_ebRUcuGQ" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/nzwU9RR6l2w" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/38_tu5lOQWk" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g1" id="g5">
        <div class="heading">
            Legs
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/Smim7-qG8Ls" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/G18kehKXlRM" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/uYkpTWfpFHA" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/Jg61m0DwURs" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g2">
        <div class="heading">
            Abs
        </div>

        <div class="video" id="g6">
            <iframe src="https://www.youtube.com/embed/2pLT-olgUJs" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/9p7-YC91Q74" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/Ut6xnNEQXz8" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/i27K2ry9jEo" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>

    <!-- Bee Fit Section -->
    <div class="section">
        BEE FIT
    </div>
    
    <hr>

    <!-- Footer -->
    <div class="footer" id="footer">
        <h3><i> &copy </i>copyrights with our Team</h3>
    </div>
</body>

<script>
    function isnumberinput(evt){
        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))){
            evt.preventDefault();
        }
    }


    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");

    loader.classList.add("loader--hidden");

    loader.addEventListener("transitionend", () => {
        document.body.removeChild(loader);
    });
    });

</script>

</html>
