<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga</title>

    <link rel="stylesheet" href="{{url_for('static',filename = 'exercise3.css')}}">
    <!-- <link rel="stylesheet" href="exercise3.css"> -->
</head>
<body>
    <div class="loader"></div>

    <!-- Navigation Bar -->
    <div class="nav">
        <div class="navitem" id="logo">
            <a href="{{url_for('mainpage')}}"><img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" width="250px" id="logoimg"></a>  
        </div>

        <div class="navitem" id="home">
        </div>
        <div class="navitem" id="featurenav">
            <h1>Exercise</h1>
        </div>
        <div class="navitem" id="ourteamnav">
        </div>

        <div class="navitem" id="profile">
            <h1>Test User</h1>

            <!-- Profile Hover -->
            <ul>
                <li><a href="{{url_for('profilepage')}}">Profile</a></li>
                <hr>
                <li><a href="{{url_for('moredetails')}}">More Details</a></li>
                <hr>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>
    </div>

    <h1 id="head">Yoga</h1>
    <hr>

    <hr>

    <div class="g1">

        <div class="video">
            <iframe src="" frameborder="2" class="vid" data-src="https://www.youtube.com/embed/_8kV4FHSdNA" style="background-color: grey;"></iframe>
            <iframe src="" frameborder="2" class="vid"data-src="https://www.youtube.com/embed/s2NQhpFGIOg" style="background-color: grey;"></iframe>
            <iframe src="" frameborder="2" class="vid" data-src="https://www.youtube.com/embed/g_tea8ZNk5A" style="background-color: grey;"></iframe>
            <iframe src="" frameborder="2" class="vid" data-src="https://www.youtube.com/embed/gXuq4M5rU9E" style="background-color: grey;"></iframe>
            <iframe src="" frameborder="2" class="vid" data-src="https://www.youtube.com/embed/hJbRpHZr_d0" style="background-color: grey;" ></iframe>
            <iframe src="" frameborder="2" class="vid" data-src="https://www.youtube.com/embed/ZiQh8jA5tVM" style="background-color: grey;"></iframe>
        </div>
    </div>
    <hr>
    

    <!-- Bee Fit Section -->
    <div class="section">
        BEE FIT
    </div>
    
    <hr>

    <!-- Footer -->
    <div class="footer" id="footer">
        <h3><i> &copy </i>copyrights with our Team</h3>
    </div>
</body>


<script type="text/javascript">
    function load_iframes() {
var vidDefer = document.getElementsByTagName('iframe');
for (var i=0; i<vidDefer.length; i++) {
if(vidDefer[i].getAttribute('data-src')) {
vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
 
 
    function isnumberinput(evt){
        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))){
            evt.preventDefault();
        }
    }


    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");

    loader.classList.add("loader--hidden");

    loader.addEventListener("transitionend", () => {
        document.body.removeChild(loader);
        load_iframes();

    });
    });

</script>

</html>