<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Type</title>

    <link rel="stylesheet" href="{{url_for('static',filename = 'exercise1.css')}}">
</head>
<body>
    <div class="loader"></div>

    <!-- Navigation Bar -->
    <div class="nav">
        <div class="navitem" id="logo">
            <a href="{{url_for('mainpage')}}"><img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" width="250px" id="logoimg"></a>  
        </div>

        <div class="navitem" id="home">
        </div>
        <div class="navitem" id="featurenav">
            <h1>Exercise</h1>
        </div>
        <div class="navitem" id="ourteamnav">
        </div>

        <div class="navitem" id="profile">
            <h1>User</h1>

            <!-- Profile Hover -->
            <ul>
                <li><a href="{{url_for('profilepage')}}">Profile</a></li>
                <hr>
                <li><a href="{{url_for('moredetails')}}">More Details</a></li>
                <hr>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>
    </div>

    <h1 id="head">Different Types Of Exercise</h1>
    <hr>

    <div class="btn">
        <div class="button1" id="btn1" ><a href="#g1">Aerobic exercise</a></div>
        <div class="button2" id="btn2"><a href="#g2">Resistance exercise</a></div>
        <div class="button1" id="btn3"><a href="#g3">Flexibility exercise</a></div>
        <div class="button1" id="btn4"><a href="#g4">High-intensity interval training (HIIT)</a></div>
        <div class="button2" id="btn5"><a href="#g5">Circuit training</a></div>
        <div class="button1" id="btn6"><a href="#g6">Low-intensity steady-state (LISS) training</a></div>
    </div>

    <hr>

    <div class="g1" id="g1">
        <div class="heading">
            Aerobic Exercise
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/w1iS0iiiMcA" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/aGSC5wozS1k" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/flfjRWzjfC4"frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/enYITYwvPAQ" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g2" id="g2">
        <div class="heading">
            Resistance Exercise
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/SZaggsg2zUY" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/CzyFv-0buVE" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/uYkpTWfpFHA"  frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/H1F-UfC8Mb8" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g1" id="g3">
        <div class="heading">
            Flexibility Exercise
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/i7LJ-39bFgE" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/Ef6LwAaB3_E" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/Gu-zC_1fhyg" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/Ru1hYrwCZJo" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g2" id="g4">
        <div class="heading">
            High-intensity interval training (HIIT)
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/jD66Gc4-Hmc" frameborder="2" class="vid"></iframe>
            <iframe src= "https://www.youtube.com/embed/RcLz_atcq8w"frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/ml6cT4AZdqI" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/jWCm9piAwAU" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g1" id="g5">
        <div class="heading">
            Circuit Training
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/zZ1MqieP42A" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/c2hj0fMk8Nc" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/jPdft5H34C8" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/L8Fbfx-Uv6I" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>
    <div class="g2" id="g6">
        <div class="heading">
            Low-intensity steady-state (LISS) training
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/ImI63BUUPwU" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/ngxt8aMJI_c" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/eDoe-k2Ypkk" frameborder="2" class="vid"></iframe>
            <iframe src="https://www.youtube.com/embed/GHBu4Tx-jkM" frameborder="2" class="vid"></iframe>
        </div>
    </div>
    <hr>

    <!-- Bee Fit Section -->
    <div class="section">
        BEE FIT
    </div>
    
    <hr>

    <!-- Footer -->
    <div class="footer" id="footer">
        <h3><i> &copy </i>copyrights with our Team</h3>
    </div>
</body>

<script>
    function isnumberinput(evt){
        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))){
            evt.preventDefault();
        }
    }


    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");

    loader.classList.add("loader--hidden");

    loader.addEventListener("transitionend", () => {
        document.body.removeChild(loader);
    });
    });

</script>

</html>
