<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Bee Fit</title>

    <!-- Adding CSS -->
    <link rel="stylesheet" href="static/landingpage.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/mini Logo.png')}}">
    <!-- Adding Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">

</head> 
<body>
    <!-- Navigation Bar -->
    <div class="nav">
        <div class="navitems" id="logo">
            <img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" width="250px" id="logoimg">
        </div>
        <div class="blank">
        </div>
    </div>

    <!-- Display Screen -->
    <div class="display" id="display">
        <div class="images" id="image1">
            <img src="{{url_for('static',filename = 'images/img 1.jpg')}}" alt="img1">
        </div>
        <div class="images" id="image2">
            <img src="{{url_for('static',filename = 'images/img 2.jpg')}}" alt="img2">
        </div>
        <div class="images1" id="image3">
            <img src="{{url_for('static',filename = 'images/img 3.jpg')}}" alt="img3">
        </div>
        <div class="images1" id="image4">
            <img src="{{url_for('static',filename = 'images/img 4.jpg')}}" alt="img4">
        </div>
        <div class="images1" id="image5">
            <img src="{{url_for('static',filename = 'images/img 5.jpg')}}" alt="img5">
        </div>
        <div class="images1" id="image6">
            <img src="{{url_for('static',filename = 'images/img 6.svg')}}" alt="img6">
        </div>

        <!-- Login And Sign Up Button -->
        <div class="btns" id="btns">

            <h1 id="head">Start Your Fitness Journey Here</h1>
            
            <!-- Blank -->
            <div id="blank2">

            </div>

            <!-- Login -->
            <div class="userbtn" id="login">
                <form>
                    <a href={{url_for('SignIn_page')}}> <h1>Sign In</h1> </a>
                </form>
            </div>

            <!-- Sign Up -->
            <div class="userbtn" id="signup">
                <form>
                    <a href={{url_for('SignUp_page')}}> <h1>Create Account</h1> </a>
                </form>
            </div>
            
            <!-- Blank -->
            <div id="blank3">
            </div>
            
        </div>
    </div>
    
    <hr>
    <div class="au">
        <h1 id="aboutus">About Us</h1>
        <p class="abtuscontent" id="p1">Who does not like being healthy??</p>
        <p class="abtuscontent" id="p2">Absolutley no one ,So here are we to show you the right path for being healthy through our approved diet courses,excercises and daily fitness tracking.</p>
        <p class="abtuscontent" id="p3">Everyone can start from scratch , analyse by recording their progress and performing excercises daily.</p>
        <p class="abtuscontent" id="p4">We will help you guys choose the best excersises according to your choosen body portion.We hope you enjoy here and use the resoucres to its full potential.</p>

    </div>
    
    <hr>

    <div class="cards">
        <div class="card" id="card1">
            <h3>Customer Count</h3>
            <h1>50+</h1>
        </div>
        <div class="card" id="card2">
            <h3>Happy Customer</h3>
            <h1>20+</h1>
        </div>
        <div class="card" id="card3">
            <h3>Feature Count</h3>
            <h1>3</h1>
        </div>
        <div class="card" id="card4">
            <h3>Daily Site Visit</h3>
            <h1>100+</h1>
        </div>
    </div>
    
    <hr>
    <!-- Section -->
    <div class="section">
        <h1>BEE FIT</h1>
    </div>

    <hr>

    <!-- Footer -->
    <div class="footer" id="footer">
        <h3><i> &copy </i>copyrights with our Team</h3>
    </div>

</body>
</html>