<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body bgcolor="red">
    
    fuck you {{Id}} <br>
    <h1 id ='head'>{{head}}</h1> <br>
    {{body}} <br>
    <script type="text/javascript">
        // alert(document.getElementById('head').innerHTML)
        var test = {{body | tojson}}
        console.log(test)
    </script>
    <!-- <script src="static\app.js"></script> -->
    
  
</body>
</html>