<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Details</title>

    <link rel="icon" type="image/x-icon" href="Images/mini Logo.png">

    <link rel="stylesheet" href="static/more_details.css">
</head>
<body>
    <form action="#" method="post" id="dtls">
        <h1>More Details</h1>

        <div class="detail" id="age">
            <h3>Age</h3>
            <input type="number" name="age" id="age" required>
        </div>

        <div class="detail" id="weight">
            <h3>Weight</h3>
            <input type="number" name="weight" id="weight" required>
        </div>

        <div class="detail" id="height">
            <h3>Height</h3>
            <input type="number" name="height" id="height" required>
        </div>

        <div class="detail" id="bg">
            <h3>Blood Group</h3>
            <select name="blood_group" id="blood_group" required>
                <option value="A+ve">A+ve</option>
                <option value="A-ve">A-ve</option>
                <option value="B+ve">B+ve</option>
                <option value="B-ve">B-ve</option>
                <option value="AB+ve">AB+ve</option>
                <option value="AB-ve">AB-ve</option>
                <option value="O+ve">O+ve</option>
                <option value="O-ve">O-ve</option>
                </select>
        </div>

        <div class="button">
            <input type="submit" value="Submit" id="detail_submit">
        </div>

    </form>
</body>
</html>
