<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    
    <link rel="stylesheet" href="static/profilepage.css">
  </head>
  <body>
    <div class="container">
      <h1>Profile</h1>
      <form  method="post" action="#">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{name}}" required>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender"value="male">
          <option value="">--Select--</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="non-binary">Non-Binary</option>
        </select>
        <label for="gender">Blood Group:</label>
        <select id="blood_group" name="blood_group" >
          <option value="default">{{bloodGroup}}</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="{{age}}" required>
        <label for="height">Height (cm):</label>
        <input type="text" id="height" name="height" value ="{{height}}" required>
        <label for="weight">Weight (kg):</label>
        <input type="text" id="weight" name="weight" value="{{weight}}" required>
        <label for="BMI">BMI:</label>
        <input type="text" id="bmi" name="bmi" value="{{bmi}}" required>
        <label for="fg">Fitness Goals:</label>
        <input type="text" id="fg" name="fg" value="{{idealWeight}}" required>
        <label for="ep">Exercise preferences:</label>
        <input type="text" id="ep" name="ep" required>
        <button type="submit">Submit</button>
      </form>
</div>
 </body>
</html>