<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga</title>

    <link rel="stylesheet" href="static/yoga.css" type="text/css"> 
</head>
<body>
    

    <h1>YOGA</h1>
    <p>
        Yoga is a mind and body practice with a 5,000-year history in ancient Indian philosophy. Various styles of yoga combine physical postures, breathing exercises, and meditation or relaxation.The main components of yoga are physical postures (asanas), breathing exercises (pranayama) and meditation or relaxation (dhyana). It is used to treat a variety of health conditions including stress, anxiety,depression, pain, high blood pressure, heart disease, diabetes and cancer.
Some of the benefits of yoga are reducing stress and anxiety, increasing mood and energy, reducing pain and risk of chronic diseases, improves flexibility, strength, balance, cardiovascular health and sleep.Some popular styles of yoga include hatha yoga, vinyasa yoga, iyengar yoga, asthanga yoga, bikram yoga and many more.
    </p>
    
    
</div>

<h2>Video Resources</h2>

<section>
    <div class ="container reveal">
        
        <div class="cards">
            <iframe  height="300" width="600"src="https://www.youtube.com/embed/_87z446O0DU" framborder="1"></iframe>
            <iframe  height="300" width="600"src="https://www.youtube.com/embed/_87z446O0DU" framborder="1"></iframe>
           
        </div>
    </div>
</section>
<section>
    <div class ="container reveal">
        
        <div class="cards">
            <iframe height="300" width="600"src="https://www.youtube.com/embed/_87z446O0DU" framborder="1"></iframe>
            <iframe height="300" width="600"src="https://www.youtube.com/embed/_87z446O0DU" framborder="1"></iframe>
            
        </div>
    </div>
</section>
<section>
    <div class ="container reveal">
        
        <div class="cards">
            <iframe height="300" width="600"src="https://www.youtube.com/embed/_87z446O0DU" framborder="1"></iframe>
            <iframe height="300" width="600"src="https://www.youtube.com/embed/_87z446O0DU" framborder="1"></iframe>
            
        </div>
    </div>
</section>
</body>
